body {
  background-color: #efeffd;
}

* {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p,
span {
  margin: 0 !important;
}

/* .main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 48px;
}

p {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 24px;
}

.primary-button {
  border-radius: 8px;
  padding: 10px 26px;

  font-size: 16px;
  line-height: 24px;

  background-color: #03045e;
  color: #fff;

  border: 0;
  outline: 0;

  text-decoration: none;
}

.primary-button:hover {
  background-color: #0077b6;
  color: #fff;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;

  width: 100%;
  max-width: 480px;

  align-self: center;

  background: #fff;
  border-radius: 12px;
  border: 1px solid #dedede;

  padding: 24px;
}

.form-item,
.card-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-label,
.card-label {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}
.input {
  font-size: 16px;
  line-height: 24px;
  border-radius: 8px;
  background-color: #fff;
  padding: 6px 12px;
  border: 1px solid #dedede;
} */
